<html>
<head>
<title>Kool Healthy PFE</title>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
    <link rel="icon" href="images/logo.png">
</head>

{% block body %}
<div class="loginbox">
<img src="images/avatar.png" class="avatar">
<form method="post" autocomplete="off">
    

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-Vous</h1>
    <label for="inputUsername">Nom d'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Entrez votre Nom d'utilisateur">
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Entrez votre Mot de passe">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div> -->
    <br>
    <input type="submit" name="" value="Se Connecter">
</form>
<a href="home">Se connecter ultérieurement?</a><br>
<a href="register">S'inscrire</a>
</div>
{% endblock %}
