<!DOCTYPE html>
<html>
<head>
<title>Kool Healthy PFE</title>
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>

{% block body %}
<div class="loginbox">
<img src="images/register.png" class="avatar">
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom)}}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.motDePasse) }}
        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.age) }}
        {{ form_row(registrationForm.height) }}
        {{ form_row(registrationForm.weight) }}
        {{ form_row(registrationForm.goal) }}
        {{ form_row(registrationForm.activity_level) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <input type="submit" name="" value="Register"><br>
        <a href="/" class="connexionbtn">Se connecter?</a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
</html>