<!DOCTYPE html>
<html>
<head>
    <title>Kool Healthy Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="icon" href="images/logo.png">
    <style>

        body {
            margin : 0;
            padding : 0;
            font : 90% "lucida sans", "Trebuchet MS", verdana, tahoma, arial, sans-serif;
            line-height : 1.7em;
            background : #333 no-repeat;
            color : #eee;
        }
        a:link, a:visited, a:active {
            color : #9BBA7F;
            background : inherit;
        }
        a:hover {
            color : #7A7B75;
            background : inherit;
        }
        h1 {
            margin : 0;
            padding : 20px;
            font-size : 130%;
            color : #adae75;
            background : inherit;
        }
        #content h2 {
            padding : 10px 0 10px 30px;
            margin : 0;
            font-size : 120%;
            text-transform : uppercase;
            color : #adae75;
            background : inherit;
        }
        #container {
            width : 1050px;
            margin-left : 0;
            margin-right : auto;
            color : #d6ddbc;
            background : inherit;
        }
        #header {
            width : 750px;
            height : 172px;
            border-bottom : 0 solid #ccc;
            background : transparent no-repeat;
            margin-bottom : 0;
        }
        #title {
            width : 1050px;
            height : 50px;
            margin-bottom : 10px;
            background : transparent no-repeat;
        }
        #title p {
            text-align : center;
            text-transform : uppercase;
            letter-spacing : 5px;
            color : #adae75;
            background : inherit;
            font-size : 130%;
            padding : 20px 0 20px 0;
        }
        #content {
            margin-right : 0;
            width : 460px;
        }
        #content p {
            padding : 5px 20px 5px 30px;
            margin : 0;
        }
        #footer {
            width : 750px;
            height : 50px;
            clear : right;
            border-top : 1px solid #666;
            background : inherit;
            color : #eee;
            padding : 5px 0 5px 0;
        }
        #footer p {
            text-align : left;
            padding-left : 25px;
            font-size : 0.9em;
        }
        #navcontainer {
            width : 1000px;
            margin-left : 120px;
            padding-bottom : 120px;
        }
        #navcontainer ul {
            margin-left : 0;
            padding-left : 0;
            list-style-type : none;
        }
        #navcontainer a {
            display : block;
            padding : 3px;
            width : 160px;
            background-color : #333;
            color : #adae75;
            border-bottom : 1px solid #adae75;
        }
        #navcontainer a:link, #navlist a:visited {
            background : inherit;
            color : #adae75;
            text-decoration : none;
        }
        #navcontainer a:hover {
            background-color : #424a33;
            color : #d6ddbc;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 800px;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="title">
            <p>Espace Admin Kool Healthy</p>
        </div>
        <div id="content">
            
            <p>Vous ne pouvez pas annuler vos modifications!</p>
            <br>
            <div id="footer">
                <p><a href="/admin-kool-healthy-123456789">Accueil</a></p>
            </div>
            <div id="navcontainer">
                <table>
                    <tr>
                        <th>ID-Commande</th>
                        <th>ID-Repas</th>
                        <th>Date-Commande</th>
                        <th>Adresse-Commande</th>
                        <th>Prix-Commande</th>
                        <th>Status</th>
                        <th>ID-User</th>
                        <th>ID-Traiteur</th>
                    </tr>
                    {% for commande in commandes %}
                    <tr>
                        <td>{{commande.id}}</td>
                        <td>{{commande.getIdRepas}}</td>
                        <td>{{commande.getDateComm | date('Y-m-d')}}</td>
                        <td>{{commande.adresse}}</td>
                        <td>{{commande.getPrixComm}}</td>
                        <td>{{commande.status}}</td>
                        <td>{{commande.getIdUser}}</td>
                        <td>{{commande.getIdTraiteur}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
</body>
</html>
