<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Commande</title>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h4>Commande : 000{{ commande.getId }}</h4>
        <table>
            <tr>
                <th>ID- Repas</th>
                <th>Date Commande</th>
                <th>Adresse Commande</th>
                <th>Prix Commande</th>
                <th>Date Livraison</th>
                <th>Temps Livraison</th>
                <th>Status</th>
                <th>ID User</th>
                <th>ID Traiteur</th>
            </tr>
            <tr>
                <td>{{commande.getIdRepas}}</td>
                <td>{{commande.getDateComm | date('Y-m-d')}}</td>
                <td>{{commande.adresse}}</td>
                <td>{{commande.getPrixComm}}</td>
                <td>{{commande.getDateLivraison | date('Y-m-d')}}</td>
                <td>{{commande.getTempsLivraison }}</td>
                <td>{{commande.status}}</td>
                <td>{{commande.getIdUser}}</td>
                <td>{{commande.getIdTraiteur}}</td>
            </tr>
        </table>
        <p>Merci de nous contacter à kool-healthy-contact@gmail.com</p>
    </body>
</html>